@use "../common";


.bottom-footer {
  @extend %text-center;

  padding-top: 10vh;
  color: gray;

  #{&}__hr {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: lightgray;
  }
}

