@use '../common';

$-border-color: #eee;

%-feedback-input {
  @include common.border($radius: 3px);

  display: inline-block;
  padding: 10px 20px;
}

.feedback-form {
  @extend %text-center;

  padding-top: 20px;
  margin: auto;

  #{&}__input-section {
    label {
      text-align: left;
    }

    textarea {
      @include common.border(1px, $-border-color);
      @extend %-feedback-input;

      margin: 10px auto;
    }
  }

  #{&}__submit {
    @include common.border(3px, $-border-color);
    @extend %-feedback-input;

    margin-top: 5px;
  }
}
