@use "../common";


$-border-color: #eee;

%-feedback-input {
  display: inline-block;
  border-radius: 3px;
  padding: 10px 20px;
}

.feedback-form {
  @extend %text-center;

  padding-top: 3vh;
  margin: auto;

  #{&}__input-section {
    label {
      text-align: left;
    }

    textarea {
      @extend %-feedback-input;

      margin: 10px auto;

      border-width: 1px;
      border-style: solid;
      border-color: $-border-color;
    }
  }

  #{&}__submit {
    @extend %-feedback-input;

    margin-top: 5px;

    border-width: 3px;
    border-style: solid;
    border-color: $-border-color;
  }
}

