@use '../common';

.quote {
  text-align: right;

  blockquote {
    @include common.border(
      $width: 5px,
      $color: common.$ubuntu-orange,
      $side: 'right'
    );

    margin: 0;
    quotes: '“' '”' '‘' '’';
    padding-right: 1em;

    &::before {
      content: open-quote;
    }

    &::after {
      content: close-quote;
    }
  }
}
