@use "variables";
@use "extends";
@use "mixins";


// ANCHOR LINK

$-anchor-color: black;

.anchor {
  @extend %text-no-decoration;

  &:link {
    color: $-anchor-color;
  }

  &:visited {
    color: $-anchor-color;
  }

  &:hover {
    color: variables.$ubuntu-orange;
  }

  &:active {
    color: variables.$ubuntu-orange;
  }
}


// UBUNTU TERMINAL

.terminal {
  @include mixins.border($radius: 3px);

  font-family: 'Ubuntu Mono', monospace;
  background-color: #300a24;
  color: white;
  padding: 5px;
}


// UNSELECTABLE TEXT

.text-unselectable {
  @extend %text-unselectable;
}


// AD

.ad {
  @extend %text-center;

  padding: 5px;
  background-color: lightgreen;
}

