@use "variables";
@use "extends";


// ANCHOR LINK

$-anchor-color: black;

.anchor {
  @extend %text-no-decoration;

  &:link {
    color: $-anchor-color;
  }

  &:visited {
    color: $-anchor-color;
  }

  &:hover {
    color: variables.$ubuntu-orange;
  }

  &:active {
    color: variables.$ubuntu-orange;
  }
}


// UBUNTU TERMINAL

.terminal {
  font-family: 'Ubuntu Mono', monospace;
  background-color: #300a24;
  color: white;
  padding: 5px;
  border-radius: 3px;

  // Dollar sign before the command.
  #{&}__dollar-sign {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

    &::selection, &::-moz-selection {
      background: transparent;
    }
  }
}


// REGULAR BLOCK

.block {
  padding-top: 3vh;

  // Block description does not need an indent.
  #{&}__description {
    text-indent: 0;
  }
}


// AD

.ad {
  @extend %text-center;

  background-color: lightgreen;
}

