@use "common";
@use "components/quote";
@use "components/feedback";
@use "components/bottom-footer";
@use "components/social-icon";


body {
  margin: 1em;
  font-family: 'Courier New', Courier, monospace;
}

main {
  max-width: 900px;
  margin: auto;

  h1 {
    @extend %text-center;
  }
}

ul {
  li::marker {
    color: red;
  }
}

// Paragraph indent (red line)
p {
  text-indent: 3vw;
}

.comparison-table {
  thead {
    tr {
      th {
        background-color: common.$ubuntu-orange;
        color: white;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: lightgray;
    }
  }
}

.git-logo {
  float: left;
  margin: 7px 7px 7px 0;
  width: 10%;
  border: 3px solid #300a24;
  border-radius: 3px;
}

.note {
  // Note paragraph does not need an indent
  p {
    text-indent: 0;
  }
}

.ad {
  background-color: lightgreen;

  @extend %text-center;
}
