@use "common";
@use "components/quote";
@use "components/feedback";
@use "components/bottom-footer";
@use "components/social-icon";


body {
  font-family: 'Courier New', Courier, monospace;
}

main {
  max-width: 900px;
  // Align to the center of the screen (horizontally).
  margin: 0 auto;

  h1 {
    @extend %text-center;
  }
}

ul {
  li::marker {
    color: red;
  }
}

// Paragraph indent (red line).
p {
  text-indent: 4em;
}


// INTRODUCTION

.introduction {
  margin-top: 1em;
}

.introduction-container {
  display: grid;
  grid-gap: 5px;
}

.git-logo {
  @include common.border(3px, #300a24, 3px);

  float: left;
  margin: 7px 7px 7px 0;
  width: 10%;
}

.comparison-table {
  thead {
    tr {
      th {
        background-color: common.$ubuntu-orange;
        color: white;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: lightgray;
    }
  }
}


// TIPS

.tips {
  margin-top: 30px;
}

.tip-container {
  display: grid;
  grid-gap: 20px;
}

.tip {
  @include common.border($radius: 5px);

  padding: 1em;
  background-color: lightgray;

  & * {
    text-indent: 0;
  }
}


// AD

.ad-index {
  margin-top: 10px;
}

